@import '../vars';
@import '../utils/grid';

@mixin bar {
  padding: gutter();

  max-width: inherit;
  max-height: 45px;

  background: $primary;
  border-bottom: 1px solid darken($primary,2%);
  border-top: 1px solid rgba(lighten($primary, 50%), 0.5);

  justify-content: space-between;
}
